*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* font-family: cursive; */

}
body{
    height:100vh;
    width: 100%;
    background: #121b25;
    
    }
   
footer{
    padding: 80px 3% 70px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,auto));
    gap: 3.5rem;
    background: #1a242f;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

}
.footer-content h4{
   font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
    
}
.footer-content li{
    margin-bottom: 16px;

}
.footer-content li a{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;

}
.footer-content li a:hover{
    transform: translate(-3px) translateX(-5px);
    color: #fff;

}
.footer-content p{
    columns: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;

}